.article {
    bottom: 0;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: left 160ms ease-in-out;

    @media(max-width: 719px) {
        left: 0;
        z-index: 1;
    }
    
    @media(min-width: 720px) {
        left: 360px;
        margin-left: -8px;
        z-index: 2;
    }
    
    @media(min-width: 720px) and (max-width: 1099px) {
        left: 320px;
    }
    
    @media(min-width: 1100px) {
        left: 360px;
    }
}

.article__scrollbar {
    @media(max-width: 719px) {
        margin-right: 0 !important;
    }
}

.article__shadow-box {
    background-color: #fdfdff;
    max-width: 768px;
    padding-bottom: 160px;

    @media(min-width: 720px) {
        box-shadow: $shadow-z-2;
        margin: 12px 8px 0 8px;
    }
}

.article__header {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;

    @media(max-width: 719px) {
        padding: 32px 20px;
    }

    @media(min-width: 720px) {
        padding: 64px 32px 32px 32px;
    }
}

.article__header--has-cover-iamge {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
    transition: height 320ms ease-in-out;

    @media(max-width: 419px) {
        height: 128px;
    }
    
    @media(min-width: 420px) and (max-width: 519px) {
        height: 160px;
    }

    @media(min-width: 520px) and (max-width: 619px) {
        height: 208px;
    }
    
    @media(min-width: 620px) and (max-width: 719px) {
        height: 256px;
    }
    
    @media(min-width: 720px) and (max-width: 819px) {
        height: 160px;
    }

    @media(min-width: 820px) and (max-width: 919px) {
        height: 208px;
    }
    
    @media(min-width: 920px) {
        height: 256px;
    }
}

.article__header--home {
    background-image: url("/assets/about/home-cover.jpg");
}

.article__header--contact {
    background-image: url("/assets/about/contact-cover.jpg");
}

.article__header--reading-list {
    background-image: url("/assets/about/reading-list-cover.jpg");
}

.article__photo {
    background-color: #eee;
    border: 4px solid #fff;
    border-radius: 100px;
    box-shadow: $shadow-z-2;
    position: relative;
    transition: all 320ms ease-in-out;
    z-index: 1;

    @media(max-width: 519px) {
        bottom: -56px;
        height: 128px;
        width: 128px;
    }

    @media(min-width: 520px) and (max-width: 619px) {
        bottom: -70px;
        height: 158px;
        width: 158px;
    }
    
    @media(min-width: 620px) and (max-width: 719px) {
        bottom: -82px;
        height: 188px;
        width: 188px;
    }
    
    @media(min-width: 720px) and (max-width: 819px) {
        bottom: -56px;
        height: 128px;
        width: 128px;
    }
    
    @media(min-width: 820px) and (max-width: 919px) {
        bottom: -70px;
        height: 158px;
        width: 158px;
    }

    @media(min-width: 920px) {
        bottom: -82px;
        height: 188px;
        width: 188px;
    }
}

.article__callout {
    background-color: #fff;
    box-shadow: $shadow-z-1;
    color: $slate-500;
    transition: padding 320ms ease-in-out;

    @media(max-width: 519px) {
        margin: -8px 4px 24px 4px;
        padding: 80px 12px 12px 12px;
    }

    @media(min-width: 520px) and (max-width: 619px) {
        margin: -8px 4px 24px 4px;
        padding: 90px 12px 12px 12px;
    }
    
    @media(min-width: 620px) and (max-width: 719px) {
        margin: -8px 4px 24px 4px;
        padding: 105px 12px 12px 12px;
    }
    
    @media(min-width: 720px) and (max-width: 819px) {
        margin: -12px 8px 48px 8px;
        padding: 90px 16px 16px 16px;
    }

    @media(min-width: 820px) and (max-width: 919px) {
        margin: -12px 8px 48px 8px;
        padding: 105px 16px 16px 16px;
    }
    
    @media(min-width: 920px) {
        margin: -12px 8px 48px 8px;
        padding: 120px 16px 16px 16px;
    }
}

.article__header-title {
    font-weight: 200;
    line-height: 1;
    margin: 0 0 20px -4px;
    
    @media(max-width: 719px) {
        font-size: 40px;
    }

    @media(min-width: 720px) {
        font-size: 46px;
    }
}

.article__header-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0 0 20px 0;
}

.article__header-meta {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
}

.article__header-divider {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 8px;
    width: 1px;
}

.article__body {
    padding: 0 9px;
}

.article__section {
    margin-bottom: 96px;
}

.article__copy {
    @media(max-width: 719px) {
        margin: 24px 12px;
    }

    @media(min-width: 720px) {
        margin: 32px 24px;
    }
}

.article__subheading {
    color: #4369a0;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.25;
    margin: 0 0 16px 0;
}

.article__subheading--home {
    margin: 64px 0 20px 0;
}

.article__paragraph {
    margin-bottom: 24px;
}

.article__figure {
    margin: 0;

    @media(min-width: 1350px) {
        align-items: flex-start;
        display: flex;
        justify-content: center;
    }
}

.article__image-container {
    width: 100%;
}

.article__image {
    display: block;
    height: auto;
    max-height: 640px;
    max-width: 100%;
    width: auto;
}

.article__image-shadow {
    box-shadow: $shadow-z-1;
}

.article__caption {    
    @media(max-width: 719px) {
        border-bottom: 2px solid $slate-50;
        padding: 8px 4px;
    }

    @media(min-width: 720px) and (max-width: 1349px) {
        border-bottom: 2px solid $slate-50;
        padding: 8px 4px;
    }

    @media(min-width: 1350px) {
        margin-left: 20px;
        width: 180px;
        margin-right: -200px;
    }
}

.article__live-project-link {
    background-color: $slate-500;
    color: #fff;
    margin-top: 48px;
    padding: 16px 24px;

    &:hover {
        background-color: $slate-500;
        color: #fff;
    }
}