.article {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    @media(max-width: 719px) {
        left: 0;
        z-index: 1;
    }

    @media(min-width: 720px) {
        left: 360px;
        margin-left: -8px;
        z-index: 2;
    }
}

.article__shadow-box {
    background-color: #fff;

    @media(min-width: 720px) {
        box-shadow: $shadow-z-2;
        margin: 54px 8px 8px 8px;
    }
}

.article__header {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
    height: 200px;
    padding: 54px 32px 32px 32px;
}

.article__header-title {
    font-size: 46px;
    font-weight: 200;
    line-height: 46px;
    margin: 0 0 16px 0;
}

.article__header-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px 0;
}

.article__header-meta {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.article__body {
    @media(max-width: 719px) {
        padding: 27px 18px;
    }

    @media(min-width: 720px) {
        padding: 32px;
    }
}

.article__copy {
    margin: 0 0 32px 0;
}

.article__figure {
    margin: 0 0 32px 0;
}

.article__image {
    display: block;
    height: auto;
    width: 100%;
}

.article__caption {
    // border-left: 1px solid #f0f0f0;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    margin-left: 16px;
    // padding: 0 8px 0 16px;
    width: 200px;
}