.app-menu {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 240ms ease-in-out, width 160ms ease-in-out;

    @media(max-width: 719px) {
        transform: translate3d(-100%, 0, 0);
        width: 100%;
        z-index: 3;
    }

    @media(min-width: 720px) {
        z-index: 1;
    }
    
    @media(min-width: 720px) and (max-width: 1099px) {
        width: 320px;
    }
    
    @media(min-width: 1100px) {
        width: 360px;
    }
}

.app-menu--show {
    transform: translate3d(0, 0, 0);
}

.app-menu__close {
    @media(min-width: 720px) {
        display: none;
    }
}

.app-menu__home {
    @media(max-width: 719px) {
        display: none;
    }
}

.app-menu__mask {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.app-menu__mask--show {
    @media(max-width: 719px) {
        display: block;
    }
}

.app-menu__menu {
    @media(max-width: 719px) {
        margin-right: 0 !important;
    }
}