.header-bar {
    background-color: $slate-500;
    color: #fff;
    height: 54px;
}

.header-bar--menu {
    @extend .header-bar;

    @media(max-width: 719px) {
        width: 320px;
    }
}

.header-bar--article {
    @extend .header-bar;
    
    @media(min-width: 720px) {
        display: none;
    }
}

.header-bar__title {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}