@import "../styles/_shadows.scss";

.list-view {
	display: none;
}

.list-view--active {
    display: flex;
}

.list-view--force-hide.list-view--active {
    display: none;
}

.list-view--force-show.list-view {
    display: flex;
}

.list-view__list {
	padding: 4px 0 4px 4px;
	
	@media(max-width: 719px) {
		background-color: $slate-50;
		width: 320px;
	}
	
	@media(min-width: 720px) {
		width: 100%;
	}
}

.list-view__link {
	cursor: pointer;
	padding: 4px;

	&:focus {
		outline: 2px solid orange;
		outline-offset: -2px;
	}
}

.list-view__link--active {
	background-color: #fff;
	box-shadow: $shadow-z-1;
	//outline: 2px solid $slate-100;
	//outline-offset: -1px;
}

.list-view__poster-container {
	overflow: hidden;
}

.list-view__poster {
	background-color: #9dc2e8;
	height: 120px;
	width: 120px;
}

.live-view__copy {
	max-height: 120px;
	margin: 14px 28px 14px 14px;
	overflow: hidden;
}

.list-view__name {
	color: rgba(0, 0, 0, .5);
	line-height: 18px;
	margin: 0 0 8px 0;
}

.list-view__excerpt {
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: 300;
	height: 44px;
	line-height: 16px;
	margin: 0;
}

.list-view__end-of-list-message {
	color: rgba(0, 0, 0, .6);
	margin: auto;
	padding: 24px 0;
	text-align: center;
	width: 208px;

	p {
		margin-bottom: 16px;
	}

	button {
		margin-top: 16px;
	}
}