@import "../styles/_shadows.scss";

.list-view {
	display: none;
}

.list-view--active {
    display: flex;
}

.list-view--force-hide.list-view--active {
    display: none;
}

.list-view--force-show.list-view {
    display: flex;
}

.list-view__list {
	background-color: #fff;
	padding: 3px 0;
	
	@media(max-width: 719px) {
		width: 320px;
	}
	
	@media(min-width: 720px) {
		width: 100%;
	}
}

.list-view__link {
	background-color: #fff;
	cursor: pointer;
	padding: 3px 6px 3px 0;
}

.list-view__link--active {
	.list-view__poster {
		border-left-color: $slate-500;
	}
}

.list-view__poster-container {
	overflow: hidden;
}

.list-view__poster {
	background-color: #9dc2e8;
	border-left: 6px solid #fff;
	height: 120px;
	width: 120px;
}

.live-view__copy {
	max-height: 120px;
	padding: 20px 16px;
}

.list-view__name {
	color: rgba(0, 0, 0, .5);
	line-height: 18px;
	margin: 0 0 8px 0;
}

.list-view__excerpt {
	color: #888;
	font-size: 14px;
	font-weight: 300;
	height: 44px;
	line-height: 16px;
	margin: 0;
}

.list-view__end-of-list-message {
	color: rgba(0, 0, 0, .6);
	margin: auto;
	padding: 24px 0;
	text-align: center;
	width: 208px;

	p {
		margin-bottom: 16px;
	}

	button {
		margin-top: 16px;
	}
}