.nav-bar--menu {
    background-color: $slate-500;
    
    @media(max-width: 719px) {
        width: 320px;
    }
}

.nav-bar--article {
    background-color: $slate-500;

    @media(min-width: 720px) {
        position: fixed;
        right: 8px;
        top: 40px;
        width: 200px;
    }
}

.nav-bar__tab {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;

    &:hover {
        background-color: transparent;
        color: #fff;
    }
}