.nav-bar--menu {
    background-color: $slate-500;
    
    @media(max-width: 719px) {
        width: 320px;
    }
}

.nav-bar--article {
    background-color: $slate-500;
    box-shadow: $shadow-z-1;
    
    @media(min-width: 720px) {
        position: fixed;
        top: 16px;
        width: 160px;
    }
    
    @media(max-width: 1131px) {
        right: 0;
    }
    
    @media(min-width: 1132px) {
        left: 968px;
    }
}

.nav-bar__tab {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 48px;
    line-height: 32px;

    &:hover {
        background-color: transparent;
        color: #fff;
    }
}

.nav-bar__divider {
    background-color: rgba(255, 255, 255, .5);
    margin: 15px 0;
    width: 1px;

    @media(max-width: 719px) {
        display: none;
    }
}