* {
    box-sizing: border-box;
}

body {
    background-color: $slate-50;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

    &:focus {
        outline: 2px solid orange;
        outline-offset: -3px;
    }
}

.button,
button {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:focus {
        outline: 2px solid orange;
        outline-offset: -3px;
    }

    &:hover {
        background-color: #fff;
        color: #000;
        text-decoration: none;
    }

    &:active {
        background-color: #fff;
        color: #000;
        text-decoration: none;
    }

    &.active {
        background-color: pink;
    }
}