* {
    box-sizing: border-box;
}

html {
    background: -moz-linear-gradient(top, #fff 20%, $slate-50 100%);
    background: -webkit-linear-gradient(top, #fff 20%, $slate-50 100%);
    background: linear-gradient(to bottom, #fff 20%, $slate-50 100%);
    min-height: 100%;
}

body {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

p {
    font-size: 19px;
    line-height: 1.6;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

    &:focus {
        outline: 1px solid orange;
        outline-offset: -2px;
    }
}

.button,
button {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:focus {
        outline: 1px solid orange;
        outline-offset: -2px;
    }

    &:hover {
        background-color: #fff;
        color: #000;
        text-decoration: none;
    }

    &:active {
        background-color: #fff;
        color: #000;
        text-decoration: none;
    }

    &.active {
        background-color: pink;
    }
}