p {
    line-height: 1.6;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: $slate-500;
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: 1px solid orange;
        outline-offset: -2px;
    }
}

.underline-link {
    text-decoration: underline;
}

.button,
button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:focus {
        outline: 1px solid orange;
        outline-offset: -2px;
    }

    &:hover {
        background-color: transparent;
        color: #000;
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}