.heading {
    font-weight: 200;
    line-height: 1;

    @media(max-width: 719px) {
        font-size: 24px;
        margin: 16px 12px -8px 12px;
    }

    @media(min-width: 720px) {
        font-size: 26px;
        margin: 28px 24px -12px 24px;
    }
}

.caption-text {
    color: rgba($slate-500, 0.7);
    font-family: 'Tinos', serif;
    font-size: 16px;
    font-style: italic;

    @media(max-width: 1349px) {
        line-height: 1.25;
    }

    @media(min-width: 1350px) {
        line-height: 1.5;
    }
}

.blockquote{
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    font-family: 'Tinos', serif;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
    padding: 24px 72px;
}

.blockquote:before {
    color: #4369a0;
    content: open-quote;
    font-size: 80px;
    line-height: 0;
    margin-left: -54px;
    vertical-align: -34px;
  }