<div class="list-view"
    [ngClass]="{'list-view--force-show': menuStateOverride == 'work', 'list-view--force-hide': menuStateOverride != 'work' && menuStateOverride != null}"
    routerLinkActive="list-view--active"
    [routerLinkActiveOptions]="{exact: true}">

    <ul class="list-view__list">
        <li *ngFor="let work of works; let i = index">
            <a class="list-view__link flex"
                [routerLink]="['/', work.url]"
                routerLinkActive="list-view__link--active">
                <div class="list-view__poster flex-noshrink" [style.backgroundPosition]="'0 -' + i * 80 + 'px'"></div>
                <div class="live-view__copy flex flex-col flex-center-start">
                    <p class="list-view__name">{{work.name}}</p>
                </div>
            </a>
        </li>
    </ul>
    
</div>