<IfModule mod_rewrite.c>
RewriteEngine on
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# not rewrite css, js and images
RewriteCond %{REQUEST_URI} !\.(?:css|js|map|jpe?g|gif|png|zip)$ [NC]
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
</IfModule>