<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Project Overview
        </h3>
        <p class="article__paragraph">
            Stack Overflow is an online community for programmers based around question and answer interactions. As with any online community, there can be bad actors that make the site unwelcoming; this can be especially true for those new to the community and its established culture.
        </p>
        <p class="article__paragraph">
            This project rethinks the process of posting a question on Stack Overflow for first time users and attempts to reduce the frequency duplicate questions.
        </p>
    </div>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Problem Statement
        </h3>
        <p class="article__paragraph">
            Stack Overflow’s reputation and permission system fosters a site environment that is unwelcoming to new and or low-reputation users.
        </p>
    </div>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            My Role
        </h3>
        <p class="article__paragraph">
            UX Research
        </p>
        <p class="article__paragraph">
            In Fall 2017 I enrolled in UW-Madison's Graduate Capstone Certificate in UX; my work was in UX research and design thinking methodologies; I preformed background research, competitive analysis, SWOT and PEST analysis, user interviews, task analysis, journey mapping, created persons, made prototypes, and gathered participants for usability testing and surveys.
        </p>
        <p class="article__paragraph">
            Stack Overflow was great to work with and provided a diverse team of UX professionals that gave feedback throughout the program; these included: a UX researcher, UX designer, and a Product Designer.
        </p>
    </div>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            User Interviews
        </h3>
        <p class="article__paragraph">
            I started my research by interviewing Stack Overflow users. A question I asked participants early in the interview process was if they had ever posted a question on Stack Overflow and if not, why? I initially used this question to assess my participant's level of involvement with Stack, but the responses provided turned out to be far more reveling and insightful than I expected.
        </p>
        <p class="article__paragraph">
            The responses varied widely, portraying a diverse range of personalities across Stack users. One participant stood out from the rest, describing their reluctance to interact with the Stack Overflow community. This quote was the insight that set the direction for my work.
        </p>
    </div>
    <blockquote class="blockquote">
        Whenever I think about asking a question on Stack Overflow, I think about how my question might not come out right, or that it might have already been asked by someone else, and asking it again might get everyone all ‘internet angry’ at me.
    </blockquote>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Task Analysis
        </h3>
        <p class="article__paragraph">
            After user interviews, I performed task analysis to gather behavioral observations on how Stack users interact with the site.
        </p>
        <p class="article__paragraph">
            All participants started their searches with Google, but then specifically only clicked on Stack Overflow results; even users who are reluctant to interact with the Stack community.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-user-research-task-analysis-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-user-research-task-analysis.jpg"
                    alt="Minimalist infographic format for task analysis listing each step a users takes in their interaction with a Stack Overflow feature." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Minimalist infographic format for task analysis listing each step a users takes in their interaction with a Stack Overflow feature.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Journey Map
        </h3>
        <p class="article__paragraph">
            I gathered my research findings into a journey map to visually summarize and share my findings with those not part of the research process.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-user-research-journey-map-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-user-research-journey-map.jpg"
                    alt="Journey map of user activities inside and outside of Stack Overflow. Includes users' activities upon arriving at work, completing work-related tasks and interactions with Stack Overflow." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Journey map of user activities inside and outside of Stack Overflow. Includes users' activities upon arriving at work, completing work-related tasks and interactions with Stack Overflow.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Personas: Lurker, Dabbler, Rockstar
        </h3>
        <p class="article__paragraph">
            Three distinct personas began to form, The Lurker, Dabble, and Rockstar. The Lurker is a user who searches Stack for answers but has never made a post. The dabbler uses Stack to get work done. They search for answers, post questions, and will occasionally answer the questions of others. Finally, the Rockstar persona rarely asks questions but spends a large amount of time answering as many questions as possible to collect as many reputation points as possible.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-user-research-personas-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-user-research-personas.jpg"
                    alt="Three personas featuring personal backgrounds along with Stack Overflow product and experience goals. Sidebar contains persona photo, quote and Stack Overflow users stats." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Three personas featuring personal backgrounds along with Stack Overflow product and experience goals. Sidebar contains persona photo, quote and Stack Overflow users stats.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Defining the Problem
        </h3>
        <p class="article__paragraph">
            "One factor in Stack's "unwelcoming environment" are duplicate questions with toxic replies. There are times where, instead of a duplicate question being closed, a user will post condescending replies. This problem is compounded when subsequent users visit the site and see this behavior.
        </p>
    </div>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Research Hypothesis
        </h3>
        <p class="article__paragraph">
            If we prevent duplicate questions from being posted, then first time users will feel more confident engaging with the Stack Overflow community. We’ll know this to be true when duplicate posts are reduced and posts by first time users are increased.
        </p>
    </div>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Ideate
        </h3>
        <p class="article__paragraph">
            I started with divergent brain storming on sticky notes which I then affinity mapped into five similar themes. I chose three of these which could be the most feasible and have the most impact. I then did some quick sketching on possible workflows and interactions for each of the three. Finally, I converged on a single idea to explore further through prototyping and testing.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-ideation-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-ideation.jpg"
                    alt="User scenarios describing happy path interactions with Stack Overflow and how they relate back to business goals." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">User scenarios describing happy path interactions with Stack Overflow and how they relate back to business goals.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Lo-fi Prototype
        </h3>
        <p class="article__paragraph">
            I did an experiment here and made components out of foam core so I could quickly rearrange them, and though I think post-it notes are better, I'm always looking for a faster way to prototype. These UI pieces allowed me to quickly try various layouts and application states.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-lo-fi-prototyping-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-lo-fi-prototyping.jpg"
                    alt="Interface components made from foam core used in rapid, low fidelity prototyping." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Interface components made from foam core used in rapid, low fidelity prototyping.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Wireframe Prototype
        </h3>
        <p class="article__paragraph">
            I then created a wireframe in Adobe XD so I would have something I could put in front of participants for testing.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-wireframing-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-wireframing.jpg"
                    alt="Adobe XD wireframe with happy path across top row and various application states in lower columns." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Adobe XD wireframe with happy path across top row and various application states in lower columns.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Visual Design Exploration
        </h3>
        <p class="article__paragraph">
            Using Stack Overflow's existing design language I added color to my prototype, along with exploring grids, gestalt theory, and other layout principals.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-visual-design-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-visual-design.jpg"
                    alt="Exploration of grids, white space, gestalt theory, F pattern, and rule of thirds." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Exploration of grids, white space, gestalt theory, F pattern, and rule of thirds.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Testing
        </h3>
        <p class="article__paragraph">
            Guerrilla testing has a special kind of exhilaration to it. Up until now I've been researching, ideating, and building—what I think is a great—prototype. But within minutes of putting a prototype in front of a participant all the flaws come to the surface, it's a very "real" learning experience.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-solution-hi-res.png" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-solution.png"
                    alt="Start and end states of final prototype used in usability testing." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Start and end states of final prototype used in usability testing.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Testing Metrics
        </h3>
        <p class="article__paragraph">
            I had three "happy path" scenarios for participants to complete, followed by a SUS survey, and then a desirability study. I later swapped out the SUS survey for a PSSUQ survey as the PSSUQ collects more detailed feedback. Though the PSSUQ requires more effort from participants, I felt this was okay because the effort and time involved going through the test scenarios was so short.
        </p>
    </div>
    <figure class="article__figure">
        <div class="article__image-container flex flex-center-start">
            <a href="/wp-content/uploads/2017/12/stack-overflow-ux-design-metrics-hi-res.jpg" target="_blank">
                <img class="article__image article__image-shadow"
                    src="/wp-content/uploads/2017/12/stack-overflow-ux-design-metrics.jpg"
                    alt="Quantitative results from various usability tests and surveys including: completion rate, SUS, PSSUQ, time on task, and desirability study." />
            </a>
        </div>
        <figcaption class="article__caption caption-text flex-noshrink">Quantitative results from various usability tests and surveys including: completion rate, SUS, PSSUQ, time on task, and desirability study.</figcaption>
    </figure>
</section>

<section class="article__section">
    <div class="article__copy">
        <h3 class="article__subheading">
            Outcomes
        </h3>
        <p class="article__paragraph">
            At the end of the day my metrics were for a wireframe and not a true browser experience. I would have liked to have tested with a working prototype in the browser to collect more accurate data and to compare against the existing process for posting a question. A/B testing would have also been able to confirm if the number of duplicate posts were reduced and if the amount of participation from new users was increased.
        </p>
        <p class="article__paragraph">
            However, I would like to think that I was on the right track; as my time with Stack Overflow was coming to an end they showed me a very similar solution they had in the works.
        </p>
    </div>
</section>