<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()">M</button>
        <h1 class="header-bar__title">Contact</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/reading-list']">prev</button>
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/home']">next</button>
    </nav>
    <article class="flex-grow flex-scroll--y flex flex-col">
        <div class="article__shadow-box flex-grow">
            <header class="article__header">
                <h1 class="article__header-title">Contact</h1>
                <h2 class="article__header-subtitle">andrew@andrewmcconville.com</h2>
                <h2 class="article__header-subtitle">262-893-7157</h2>
            </header>
            <div class="article__body">
                <p class="article__copy">I can also be found aroud the internet.</p>
                <ul class="article__copy">
                    <li>
                        <div><a href="https://www.linkedin.com/in/andrewmcconville" target="_blank" rel="noopener">LinkedIn</a></div>
                        <div>I keep it updated and in parity with my <a [routerLink]="['/resume']">resume</a></div>
                    </li>
                    <li>
                        <div><a href="https://github.com/andrewmcconville" target="_blank" rel="noopener">GitHub</a></div>
                        <div>Mostly personal projects</div>
                    </li>
                    <li>
                        <div><a href="https://twitter.com/drew_mcconville" target="_blank" rel="noopener">Twitter</a></div>
                        <div>I don't tweet much, primarilly used to follow people in tech</div>
                    </li>
                    <li>
                        <div><a href="https://www.facebook.com/andrew.d.mcconville" target="_blank" rel="noopener">Facebook</a></div>
                        <div>Lots of pictures of my dogs. I'll get you started...</div>
                        <div>Lando</div>
                        <div>Olive</div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>