<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Resume</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/home']" aria-label="Previous page">prev</a>
        <span class="nav-bar__divider flex-noshrink"></span>
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/reading-list']" aria-label="Next page">next</a>
    </nav>
    <article class="flex-grow flex-scroll--y" itemscope itemtype="https://schema.org/Article"> 
        <div class="article__shadow-box flex-grow">
            <header class="article__header">
                <h1 class="article__header-title" itemprop="name">Andrew McConville</h1>
                <h2 class="article__header-subtitle"><a href="mailto:andrew@andrewmcconville.com">andrew@andrewmcconville.com</a></h2>
                <h2 class="article__header-subtitle"><a href="tel:12628937157">262-893-7157</a></h2>
            </header>
            <div class="article__body">
                <div class="article__copy">
                    <div class="resume__download-link-container flex flex-end-center">
                        <a href="https://andrewmcconville.com/resume-mcconville.pdf" class="resume__download-link flex flex-center-center" target="_blank" rel="noopener" title="download resume">
                            <svg class="resume__icon--pdf">
                                <use xlink:href="/assets/icons/icon-sprite.svg#pdf"></use>
                            </svg>
                        </a>
                    </div>
                    <section class="resume__section">
                        <h3 class="resume__title">Experience</h3>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--acculynx">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#acculynx"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">Senior User Experience Engineer</h4>
                                <h5 class="resume__subheading">Jan 2014 - Present | AccuLynx</h5>
                                <div class="resume__text">B2B SaaS in the roofing industry</div>
                                <ul class="resume__list">
                                    <li>Onboard new hires</li>
                                    <li>Organize UI review sessions for UX Engineers</li>
                                    <li>Launched internal documentation and UI library</li>
                                    <li>Introduce CSS organizational philosophies: SASS, BEM, SMACSS</li>
                                    <li>Design sprint: ideate, story map, prototype</li>
                                    <li>Build working prototypes: HTML, CSS, Vue.js</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--uwm">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#uwm"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">Senior User Experience Designer</h4>
                                <h5 class="resume__subheading">Jan 2013 - Jan 2014 | UW-Milwaukee</h5>
                                <div class="resume__text">In UWM’s startup incubator: The App Brewery</div>
                                <ul class="resume__list">
                                    <li>Mentor &amp; provide direction to students</li>
                                    <li>Guerrilla usability testing</li>
                                    <li>Design interfaces, workflows &amp; style guides</li>
                                    <li>Prototype in Appcelerator’s JavaScript framework</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--uwm">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#uwm"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">Web Designer</h4>
                                <h5 class="resume__subheading">Jul 2012 - Dec 2012 | UW-Milwaukee</h5>
                                <ul class="resume__list">
                                    <li>Maintain style guides across departments</li>
                                    <li>Build responsive websites & interactive micro sites</li>
                                    <li>HTML, CSS, JavaScript, WordPress, Adobe CS</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--nab">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#nab"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">Web Designer</h4>
                                <h5 class="resume__subheading">Dec 2002 - Sep 2012 | North American BioIndustries</h5>
                                <div class="resume__text">White labeled e-commerce</div>
                                <ul class="resume__list">
                                    <li>Information Architecture by Card Sort</li>
                                    <li>Multivariate WordPress theming by A/B Test</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="resume__section">
                        <h3 class="resume__title">Education</h3>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--uw">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#uw"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">Graduate Certificate, User Experience, 4.0</h4>
                                <h5 class="resume__subheading">Sep 2017 - Aug 2018, UW-Madison</h5>
                                <ul class="resume__list">
                                    <li>Empathize: Interviews, Task Analysis, Experience Maps, Personas</li>
                                    <li>Define: User Centered Problem Statement</li>
                                    <li>Ideate: Sketch, Affinity Map, Storyboard, Card Sort, Story Map</li>
                                    <li>Prototype: Paper, Sticky Notes, Wireframe, Native Code (Web)</li>
                                    <li>Test: Heuristic Evaluations, Surveys (NPS, SUS, PSSUQ), Desirability Studies</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">
                                <svg class="resume__icon--uwm">
                                    <use xlink:href="/assets/icons/icon-sprite.svg#uwm"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="resume__heading">BFA, Design &amp; Visual Communication, 3.7</h4>
                                <h5 class="resume__subheading">Sep 2009 - May 2013, UW-Milwaukee</h5>
                                <ul class="resume__list">
                                    <li>Major in Design: UX and UI focus</li>
                                    <li>Minor in Computer Science</li>
                                    <li>Certificate in Web Development</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</div>