@import "../../styles/_colors.scss";

.article__header {
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .7);
}

.resume__download-link-container {
    margin-top: -78px;
}

.resume__download-link {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, .7);
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.resume__section {
    padding-bottom: 27px;
}

.resume__icon-col {
    margin-right: 12px;
    width: 40px;
}

.resume__icon {
    fill: rgba(0, 0, 0, 0.8);
}

.resume__icon--pdf {
    height: 60px;
    width: 48px;
}

.resume__icon--acculynx {
    @extend .resume__icon;
    height: 45.5px;
    margin-top: 2px;
    width: 40px;
}

.resume__icon--uwm {
    @extend .resume__icon;
    height: 28px;
    margin-top: 5px;
    width: 40px;
}

.resume__icon--uw {
    @extend .resume__icon;
    height: 62.5px;
    margin-top: 3px;
    width: 40px;
}

.resume__icon--nab {
    @extend .resume__icon;
    height: 35.5px;
    margin-top: 4px;
    width: 40px;
}

.resume__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 0 27px 0;
}


.resume__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.resume__subheading {
    color: rgba(0, 0, 0, .6);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin: 0;
}

.resume__text {
    font-size: 18px;
    line-height: 27px;
}

.resume__list {
    @extend .resume__list--no-margin;
    margin-bottom: 27px;
}

.resume__list--no-margin {
    font-size: 18px;
    line-height: 27px;
    padding-left: 10px;

    li {
        text-indent: -8px;

        &:before {
            content: "\00B7";
            margin-right: 4px;
        }
    }
}