<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Resume</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/home']" role="button" aria-label="Previous page">prev</button>
        <span class="nav-bar__divider flex-noshrink"></span>
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/reading-list']" role="button" aria-label="Next page">next</button>
    </nav>
    <article class="flex-grow flex-scroll--y flex flex-col"
            [style.marginRight]="0 - scrollbarWidth + 'px'">
        <div class="article__shadow-box flex-grow">
            <header class="article__header">
                <h1 class="article__header-title">Andrew McConville</h1>
                <h2 class="article__header-subtitle"><a href="andrew@andrewmcconville.com">andrew@andrewmcconville.com</a></h2>
                <h2 class="article__header-subtitle"><a href="tel:12628937157">262-893-7157</a></h2>
            </header>
            <div class="article__body">
                <div class="article__copy">
                    <section class="resume__section">
                        <h3 class="resume__title">Experience</h3>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">User Experience Engineer</h4>
                                <h5 class="resume__subheading">Jan 2014 – Present  |  AccuLynx</h5>
                                <ul class="resume__list">
                                    <li>Manage production HTML &amp; CSS</li>
                                    <li>Create, build &amp; scale custom CSS framework</li>
                                    <li>Maintain UI pattern library</li>
                                    <li>Collaborate on UX workflows &amp; wireframes</li>
                                    <li>Code interactive prototypes</li>
                                    <li>Sketch, Adobe CC</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">User Experience Designer</h4>
                                <h5 class="resume__subheading">Jan 2013 – Jan 2014  |  UW-Milwaukee</h5>
                                <div class="resume__text">In UWM’s startup incubator: The App Brewery</div>
                                <ul class="resume__list">
                                    <li>Mentor &amp; provide direction to students</li>
                                    <li>Prototype in Appcelerator’s Titanium</li>
                                    <li>Design interfaces, workflows &amp; style guides</li>
                                    <li>XML, TSS, JavaScript (Titanium Alloy MVC)</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">Web Designer</h4>
                                <h5 class="resume__subheading">Jul 2012 – Dec 2012  |  UW-Milwaukee</h5>
                                <ul class="resume__list">
                                    <li>Maintain style guides across departments (music,&nbsp;design, dance, theatre, film)</li>
                                    <li>Rollout marketing campaigns with responsive websites &amp; interactive micro sites</li>
                                    <li>HTML, CSS, WordPress, Adobe CS</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">Web Designer</h4>
                                <h5 class="resume__subheading">Dec 2002 – Sep 2012  |  North American Bio</h5>
                                <ul class="resume__list">
                                    <li>Information Architecture</li>
                                    <li>Custom WordPress theming</li>
                                    <li>HTML, CSS</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="resume__section">
                        <h3 class="resume__title">Experiments</h3>
                        
                        <h4 class="resume__heading">andrewmcconville.com</h4>
                        <ul class="resume__list--no-margin">
                            <li>Professional, academic &amp; experimental work</li>
                        </ul>
                        <h4 class="resume__heading">sciencetime.io</h4>
                        <ul class="resume__list--no-margin">
                            <li>Progressive webapp on science history</li>
                        </ul>
                        <h4 class="resume__heading">mesmer.ly</h4>
                        <ul class="resume__list">
                            <li>Drag &amp; drop university degree planner</li>
                        </ul>
                    </section>

                    <section class="resume__section">
                        <h3 class="resume__title">Education</h3>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">Graduate Cert, User Experience</h4>
                                <h5 class="resume__subheading">2017 – 2018  |  UW-Madison</h5>
                                <ul class="resume__list">
                                    <li>User Modeling, Personas</li>
                                    <li>Wireframing, Prototyping</li>
                                    <li>Testing, Project Management</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink">icon</div>
                            <div>
                                <h4 class="resume__heading">BFA, Design &amp; Visual Comm.</h4>
                                <h5 class="resume__subheading">2008 – 2013  |  UW-Milwaukee</h5>
                                <ul class="resume__list">
                                    <li>User Experience Design</li>
                                    <li>User Interface Design</li>
                                    <li>Information Design</li>
                                    <li>HTML, CSS, JavsScript</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink"></div>
                            <div>
                                <h4 class="resume__heading">Minor, Computer Science</h4>
                                <ul class="resume__list">
                                    <li>Web Development</li>
                                    <li>Software Engineering Process</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="flex flex-start-start">
                            <div class="resume__icon-col flex-noshrink"></div>
                            <div>
                                <h4 class="resume__heading">Cert, Web Development</h4>
                                <ul class="resume__list">
                                    <li>Python with Google App Engine</li>
                                    <li>HTML, CSS, JavaScript</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</div>