<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Reading List</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/resume']" aria-label="Previous page">prev</a>
        <span class="nav-bar__divider flex-noshrink"></span>
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/contact']" aria-label="Next page">next</a>
    </nav>
    <article class="flex-grow flex-scroll--y" itemscope itemtype="https://schema.org/Article">
        <div class="article__shadow-box flex-grow">
            <header class="article__header--has-cover-iamge article__header--reading-list flex flex-center-end">
                <img class="article__photo" src="/assets/about/reading-list-avatar.jpg" alt="Andrew McConville" height="180" width="180" />
            </header>
            <div class="article__body">
                <p class="article__callout" itemprop="description">I usually stick to non-fiction with my favorite genres being technology, design, physics, chemistry, history and biographies along with anything by Walter Isaacson or Malcolm Gladwell. However, when I do venture into fiction it's almost always science fiction. I’m also a big fan of The Great Courses series of lectures. Here are some of my recent favorites in no particular order.</p>
                <ul class="article__copy">
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">About Face</div>
                            <div class="reading-list__subtitle">The Essentials of Interaction Design</div>
                            <div class="reading-list__by">by Alan Cooper, Robert Reimann, David Cronin, Christopher Noessel</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Smart and Gets Things Done</div>
                            <div class="reading-list__subtitle">Joel Spolsky's Concise Guide to Finding the Best Technical Talent</div>
                            <div class="reading-list__by">by Joel Spolsky</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">iWoz</div>
                            <div class="reading-list__subtitle">How I Invented the Personal Computer and Had Fun Along the Way</div>
                            <div class="reading-list__by">by Steve Wozniak, Gina Smith</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Hackers</div>
                            <div class="reading-list__subtitle">Heroes of the Computer Revolution: 25th Anniversary Edition</div>
                            <div class="reading-list__by">by Steven Levy</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Crossing the Chasm</div>
                            <div class="reading-list__subtitle">Marketing and Selling High-Tech Products to Mainstream Customers</div>
                            <div class="reading-list__by">by Geoffrey Moore</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Ready Player One</div>
                            <div class="reading-list__by">by Ernest Cline</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Guns, Germs and Steel</div>
                            <div class="reading-list__subtitle">The Fate of Human Societies</div>
                            <div class="reading-list__by">by Jared Diamond</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Storm in a Teacup</div>
                            <div class="reading-list__subtitle">The Physics of Everyday Life</div>
                            <div class="reading-list__by">by Helen Czerski</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">ENIAC</div>
                            <div class="reading-list__subtitle">The Triumphs and Tragedies of the World's First Computer</div>
                            <div class="reading-list__by">by Scott McCartney</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Hunt for Vulcan</div>
                            <div class="reading-list__subtitle">And How Albert Einstein Destroyed a Planet, Discovered Relativity, and Deciphered the Universe</div>
                            <div class="reading-list__by">by Thomas Levenson</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Clockwork Universe</div>
                            <div class="reading-list__subtitle">Isaac Newton, The Royal Society, and the Birth of the Modern World</div>
                            <div class="reading-list__by">by Edward Dolnick</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Foundation</div>
                            <div class="reading-list__subtitle">The Trilogy</div>
                            <div class="reading-list__by">by Isaac Asimov</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Disappearing Spoon</div>
                            <div class="reading-list__subtitle">And Other True Tales of Madness, Love, and the History of the World from the Periodic Table of the Elements</div>
                            <div class="reading-list__by">by Sam Kean</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Astrophysics for People in a Hurry</div>
                            <div class="reading-list__by">by Neil deGrasse Tyson</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">History of Science</div>
                            <div class="reading-list__subtitle">Antiquity to 1700</div>
                            <div class="reading-list__by">by Lawrence M. Principe</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">History of Science</div>
                            <div class="reading-list__subtitle">1700-1900</div>
                            <div class="reading-list__by">by Frederick Gregory</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">What the Dog Saw</div>
                            <div class="reading-list__subtitle">And Other Adventures</div>
                            <div class="reading-list__by">by Malcolm Gladwell</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Einstein's Relativity and the Quantum Revolution</div>
                            <div class="reading-list__subtitle">Modern Physics for Non-Scientists, 2nd Edition</div>
                            <div class="reading-list__by">by Richard Wolfson</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Industrial Revolution</div>
                            <div class="reading-list__by">by Patrick N. Allitt</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Titan</div>
                            <div class="reading-list__subtitle">The Life of John D. Rockefeller, Sr.</div>
                            <div class="reading-list__by">by Ron Chernow</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Masters of Doom</div>
                            <div class="reading-list__subtitle">How Two Guys Created an Empire and Transformed Pop Culture</div>
                            <div class="reading-list__by">by David Kushner</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Jacked</div>
                            <div class="reading-list__subtitle">The Outlaw Story of Grand Theft Auto</div>
                            <div class="reading-list__by">by David Kushner</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Tipping Point</div>
                            <div class="reading-list__subtitle">How Little Things Can Make a Big Difference</div>
                            <div class="reading-list__by">by Malcolm Gladwell</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Hidden Reality</div>
                            <div class="reading-list__subtitle">Parallel Universes and the Deep Laws of the Cosmos</div>
                            <div class="reading-list__by">by Brian Greene</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">David and Goliath</div>
                            <div class="reading-list__subtitle">Underdogs, Misfits, and the Art of Battling Giants</div>
                            <div class="reading-list__by">by Malcolm Gladwell</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Outliers</div>
                            <div class="reading-list__subtitle">The Story of Success</div>
                            <div class="reading-list__by">by Malcolm Gladwell</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Innovators</div>
                            <div class="reading-list__subtitle">How a Group of Hackers, Geniuses, and Geeks Created the Digital Revolution</div>
                            <div class="reading-list__by">by Walter Isaacson</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">The Nature of Matter</div>
                            <div class="reading-list__subtitle">Understanding the Physical World</div>
                            <div class="reading-list__by">by David W. Ball</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Particle Physics for Non-Physicists</div>
                            <div class="reading-list__subtitle">A Tour of the Microcosmos</div>
                            <div class="reading-list__by">by Steven Pollock</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Steve Jobs</div>
                            <div class="reading-list__by">by Walter Isaacson</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Mysteries of Modern Physics</div>
                            <div class="reading-list__subtitle">Time</div>
                            <div class="reading-list__by">by Sean Carroll</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Great Ideas of Classical Physics</div>
                            <div class="reading-list__by">by Steven Pollock</div>
                        </div>
                    </li>
                    <li class="reading-list__item flex">
                        <div class="reading-list__image flex-noshrink"></div>
                        <div class="reading-list__meta">
                            <div class="reading-list__title">Viral Loop</div>
                            <div class="reading-list__subtitle">From Facebook to Twitter, How Today's Smartest Businesses Grow Themselves</div>
                            <div class="reading-list__by">by Adam L. Penenberg</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>