<div class="article">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">{{work.name}} {{work.name2}}</h1>
    </header>
    <article id="router-view" itemscope itemtype="https://schema.org/Article">
        <div class="article__shadow-box">
            <header class="article__header" [style.background]="work.gradient">
                <div class="article__header-inner flex flex-between-end">
                    <div class="article__header-copy">
                        <h1 class="article__header-title" itemprop="name">
                            <div>{{work.name}}</div>
                            <div>{{work.name2}}</div>
                        </h1>
                        <h2 class="article__header-subtitle" itemprop="description">{{work.description}}</h2>
                        <div class="article__header-meta">
                            <div itemprop="author" *ngIf="work.role">Role: {{work.role}}</div>
                            <time [attr.datetime]="work.date" itemprop="datePublished" [attr.content]="work.date">{{work.date | date:'MMMM d, y'}}</time>                    
                        </div>
                    </div>
                    <div class="article__work-hero-container">
                        <img src="{{work.hero}}" class="article__work-hero" height="360" width="360" />
                    </div>
                </div>
                <svg class="article__header-slash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 3">
                    <polygon points="50 3 0 3 0 0 50 3"/>
                </svg>
            </header>
            
            <div class="article__body" itemprop="articleBody" [ngSwitch]="work.url">
                <universal-design-q-tip-grip *ngSwitchCase="'universal-design-q-tip-grip'"></universal-design-q-tip-grip>
                <lidar-milwaukee *ngSwitchCase="'lidar-milwaukee'"></lidar-milwaukee>
                <stack-overflow-user-research *ngSwitchCase="'stack-overflow-user-research'"></stack-overflow-user-research>
                <ux-engineering *ngSwitchCase="'ux-engineering'"></ux-engineering>
            </div>
        </div>
    </article>
</div>