<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Home</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/', prevURL]" aria-label="Previous page">prev</a>
        <span class="nav-bar__divider flex-noshrink"></span>
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/resume']" aria-label="Next menu">next</a>
    </nav>
    <article class="flex-grow flex-scroll--y" itemscope itemtype="https://schema.org/Article">
        <div class="article__shadow-box flex-grow">
            <header class="article__header--has-cover-iamge article__header--home flex flex-center-end">
                <img class="article__photo" src="/assets/about/home-avatar.jpg" alt="Andrew McConville" height="180" width="180" />
            </header>
            <div class="article__body">
                <p class="article__callout" itemprop="description">Hi, I’m Andrew McConville; I work with product &amp; design on creating user workflows, wireframes and adhering to user interface consistency. I also document reusable components, maintain pattern libraries and build user interfaces. I believe in user centered design, style guides and grid systems.</p>
                
                <div class="article__copy">
                    <h2 class="article__subheading">Work Examples</h2>
                    <p class="article__paragraph">Looking to dive right in and see my work? Here are a few examples to get you started.</p>
                </div>
                <div class="article__copy flex flex-between-start flex-wrap">
                    <div class="home__work-snippet flex-grow">
                        <a class="list-view__link flex" [routerLink]="['/stack-overflow-user-research']">
                            <div class="list-view__poster flex-noshrink" style="background-position: 0 0"></div>
                            <div class="live-view__copy flex flex-col flex-center-start">
                                <p class="list-view__name">Stack Overflow User Research</p>
                            </div>
                        </a>
                        <p class="home__caption">I started conducting user research with Stack Overflow in 2017 for my Graduate Certificate in User Experience at the University of Wisconsin-Madison. The project involved feedback and mentorship from Stack Overflow’s product and user research team.</p>
                    </div>
                    <div class="home__work-snippet flex-grow">
                        <a class="list-view__link flex" [routerLink]="['/mesmer-interactive-degree-builder']">
                            <div class="list-view__poster flex-noshrink" style="background-position: 0 -400px"></div>
                            <div class="live-view__copy flex flex-col flex-center-start">
                                <p class="list-view__name">Mesmer</p>
                            </div>
                        </a>
                        <p class="home__caption">Mesmer is a Trello like degree planner I designed and prototyped in 2012 that allows college courses to be easily reorganized via drag and drop.</p>
                    </div>
                    <div class="home__work-snippet flex-grow">
                        <a class="list-view__link flex" [routerLink]="['/dk-handbook']">
                            <div class="list-view__poster flex-noshrink" style="background-position: 0 -320px"></div>
                            <div class="live-view__copy flex flex-col flex-center-start">
                                <p class="list-view__name">DK Handbook</p>
                            </div>
                        </a>
                        <p class="home__caption">The DK Handbook project prototypes interactions from several chapters of the printed book. It's a translation from print to tablet that features audio, video, drag &amp; drop, and games.</p>
                    </div>
                </div>

                <!-- <p class="article__copy">In my free time I enjoy genealogical research, I have so far discovered over 1,000 people in my family tree; woodworking, I recently finished designing and building a standing desk; and science history, which I’m currently building a progressive webapp in Angular.</p> -->
                
                <!-- <p class="article__copy">I've been on a pretty big Google kick the past few years with Google Design Sprints, Google's Angular framework, Google Fonts and I even use Google's G Suite to host my email.</p> -->
            </div>
        </div>
    </article>
</div>