@import "../../styles/_shadows.scss";

:host {
    flex-grow: 1;
}

.home__work-list {
    margin: auto;
    max-width: 860px;

    @media(max-width: 519px) {
        padding: 0 24px;
    }

    @media(min-width: 520px) {
        padding: 0 32px;
    }

    @media(min-width: 500px) and (max-width: 719px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media(min-width: 800px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.home__work-snippet {
    flex-shrink: 0;
    margin-bottom: 36px;

    @media(min-width: 500px) and (max-width: 719px) {
        width: 50%;
        
        &:nth-child(odd) {
            padding-right: 12px;
        }

        &:nth-child(even) {
            padding-left: 12px;
        }
    }

    @media(min-width: 800px) {
        width: 50%;
        
        &:nth-child(odd) {
            padding-right: 12px;
        }

        &:nth-child(even) {
            padding-left: 12px;
        }
    }
}

.home__work-snippet-inner {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $shadow-z-1;
    display: block;
    overflow: hidden;
    transition: all 200ms ease-in-out;

    &:hover {
        transform: translate3d(0, -8px, 0);
    }
}

.home__work-header {
    //box-shadow: $shadow-z-1;
    padding: 13px 13px 0 13px;
    position: relative;
}

.home__work-hero {
    display: block;
    height: auto;
    width: 100%;
}

.home__work-slash {
    bottom: 0;
    display: block;
    fill: #fff;
    left: 0;
    position: absolute;
}

.home__work-footer {
    padding: 8px 20px 20px 20px;
}

.home__work-main-heading {
    font-weight: 100;
    line-height: 1;
    margin: 0 0 12px 0;

    @media(max-width: 499px) {
        font-size: 28px;
    }

    @media(min-width: 500px) and (max-width: 599px) {
        font-size: 24px;
    }
    
    @media(min-width: 600px) and (max-width: 699px) {
        font-size: 26px;
    }
    
    @media(min-width: 700px) and (max-width: 799px) {
        font-size: 28px;
    }
    
    @media(min-width: 800px) and (max-width: 899px) {
        font-size: 24px;
    }
    
    @media(min-width: 900px) and (max-width: 999px) {
        font-size: 28px;
    }

    @media(min-width: 1000px) {
        font-size: 30px;
    }
}

.home__work-sub-heading {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    
    @media(min-width: 800px) and (max-width: 899px) {
        font-size: 12px;
    }
    
    @media(min-width: 900px) and (max-width: 999px) {
        font-size: 13px;
    }

    @media(min-width: 1000px) {
        font-size: 14px;
    }
}