.home__work-snippet {
    margin-bottom: 24px;

    @media(min-width: 600px) and (max-width: 719px) {
        width: 50%;
        
        &:nth-child(odd) {
            padding-right: 8px;
        }

        &:nth-child(even) {
            padding-left: 8px;
        }
    }

    @media(min-width: 970px) {
        width: 50%;
        
        &:nth-child(odd) {
            padding-right: 8px;
        }

        &:nth-child(even) {
            padding-left: 8px;
        }
    }
}

.home__caption {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding: 8px;
}