<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Home</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/', prevURL]" aria-label="Previous page">prev</a>
        <span class="nav-bar__divider flex-noshrink"></span>
        <a class="nav-bar__tab button flex-grow flex-50" [routerLink]="['/resume']" aria-label="Next menu">next</a>
    </nav>
    <article class="flex-grow flex-scroll--y" itemscope itemtype="https://schema.org/Article">
        <div class="article__shadow-box flex-grow">
            <header class="article__header--has-cover-iamge article__header--home flex flex-center-end">
                <img class="article__photo" src="/assets/about/home-avatar.jpg" alt="Andrew McConville" height="180" width="180" />
            </header>
            <div class="article__body">
                <div class="article__callout" itemprop="description">
                    <p>Hi, I’m Andrew McConville. I build, document, and perform usability tests on hi-fi prototypes and production components.</p>
                </div>
                
                <div class="article__copy">
                    <h2 class="article__subheading">UX Philosophy</h2>
                    <p class="article__paragraph">
                        I believe a great user experience is when the learning curve is kept low, which I'm always trying to iterate toward through design thinking methodologies.
                    </p>
                    <p class="article__paragraph">
                        This requires an understanding of both user and business goals.
                        Great UX also thrives on design consistency, which takes the form of a well documented and maintained design system.
                        I believe in teaching users a design language once by providing a consistent interaction patterns and a consistent look and feel.
                    </p>

                    <h2 class="article__subheading">UX Process</h2>
                    <p class="article__paragraph">
                        The design thinking methodology.
                    </p>
                    <ol>
                        <li>
                            <p>Empathize.</p>
                            <p>
                                Research how the product fits in with the bigger picture of their daily lives?
                                Dig in with interviews, task analysis, contextual inquiry, journey mapping, personas, and usage analytics.
                            </p>
                        </li>
                        <li>
                            <p>Define.</p>
                            <p>
                                Draw on the understanding of user needs, goals, and pain points to create a problem statement.
                            </p>
                        </li>
                        <li>
                            <p>Ideate.</p>
                            <p>
                                Diverge on radical ideas, focusing on possibilities that are novel and have never been tried in the past.
                                Converge on <i>a</i> possible solution, which might not be <i>the</i> solution.
                            </p>
                        </li>
                        <li>
                            <p>Prototype.</p>
                            <p>
                                My favorite phase.
                                I enjoying lo-fi paper protyping and hi-fi clickable mocks, but native prototyping in code is what I enjoy the most.
                            </p>
                        </li>
                        <li>
                            <p>Test.</p>
                            <p>
                                And now that we have a prototype, we can test!
                                Users can click, tap, and of course find all the flaws in what was thought to be a production ready experience.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </article>
</div>