<div class="article flex flex-col flex-grow">
    <header class="header-bar--article flex-noshrink flex flex-start-center">
        <button (click)="openAppMenu()" role="button" aria-label="Main menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#hamburger-menu"></use>
            </svg>
        </button>
        <h1 class="header-bar__title">Home</h1>
    </header>
    <nav class="nav-bar--article flex flex-between-stretch flex-noshrink">
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/contact']" role="button" aria-label="Previous page">prev</button>
        <span class="nav-bar__divider flex-noshrink"></span>
        <button class="nav-bar__tab flex-grow flex-50" [routerLink]="['/resume']" role="button" aria-label="Next menu">next</button>
    </nav>
    <article class="flex-grow flex-scroll--y flex flex-col"
            [style.marginRight]="0 - scrollbarWidth + 'px'">
        <div class="article__shadow-box flex-grow">
            <header class="article__header--has-cover-iamge article__header--home flex flex-center-end">
                <img class="article__photo" src="/assets/about/andrew-avatar.jpg" alt="Andrew McConville" height="180" width="180" />
            </header>
            <div class="article__body">
                <p class="article__callout">Hi, I’m Andrew McConville; I work with product &amp; design on creating user workflows, wireframes and adhering to user interface consistency. I also document reusable components, maintain pattern libraries and build user interfaces. I believe in user centered design, style guides and grid systems.</p>
                <p class="article__copy">In my free time I enjoy genealogical research, I have so far discovered over 1,000 people in my family tree; woodworking, I recently finished designing and building a standing desk; and science history, which I’m currently building a progressive webapp in Angular.</p>
                <p class="article__copy">I've been on a pretty big Google kick the past few years with Google Design Sprints, Google's Angular framework, Google Fonts and I even use Google's G Suite to host my email.</p>
            </div>
        </div>
    </article>
</div>