.home__work-snippet {
    @media(max-width: 599px) {
        &:first-child {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 12px;
        }
    }

    @media(min-width: 600px) and (max-width: 719px) {
        width: 50%;
        
        &:first-child {
            padding-right: 8px;
        }

        &:last-child {
            padding-left: 8px;
        }
    }
    @media(min-width: 720px) and (max-width: 969px) {
        &:first-child {
            margin-bottom: 24px;
        }
        
        &:last-child {
            margin-bottom: 12px;
        }
    }

    @media(min-width: 970px) {
        width: 50%;
        
        &:first-child {
            padding-right: 8px;
        }

        &:last-child {
            padding-left: 8px;
        }
    }
}

.home__caption {
    padding: 8px;
}