// variables
@import "./styles/_colors.scss";

// resets
@import "./styles/_reset.scss";
@import "./styles/_google-fonts.scss";

// helpers
@import "./styles/_flexbox.scss";

// components
@import "./styles/_list-view.scss";
@import "./styles/_app-menu.scss";
@import "./styles/_app-article.scss";
@import "./styles/_nav-bar.scss";
@import "./styles/_header-bar.scss";

// temp styles

.header {
    background-color: #888;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
