<header class="header">
  <button (click)="toggleMenuStateOverride('about')">About</button>
  <button (click)="toggleMenuStateOverride('work')">Work</button>
</header>

<nav>
  <portfolio-about-list [ngClass]="{'list-view--force-show': menuStateOverride == 'about', 'list-view--force-hide': menuStateOverride != 'about' && menuStateOverride != null}"></portfolio-about-list>
  <portfolio-work-list [ngClass]="{'list-view--force-show': menuStateOverride == 'work', 'list-view--force-hide': menuStateOverride != 'work' && menuStateOverride != null}"></portfolio-work-list>
</nav>

<article class="detail">
  <router-outlet></router-outlet>
</article>
