// variables
@import "./styles/_colors.scss";

// resets
@import "./styles/_reset.scss";

// helpers
@import "./styles/_flexbox.scss";
@import "./styles/_typography.scss";

// components
@import "./styles/_list-view.scss";
@import "./styles/_app-menu.scss";
@import "./styles/_app-article.scss";
@import "./styles/_nav-bar.scss";
@import "./styles/_header-bar.scss";

// temp styles
.header {
    background-color: #888;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.linkedin__icon {
    display: block;
    height: 15px;
    margin-right: 4px;
    width: 15px;
}

.portfolio {
    display: flex;
    margin: auto;
    max-width: 1220px;
    
    @media(min-width: 720px) {
        padding: 0 12px;
    }
}