<nav class="app-menu flex flex-col flex-grow" [ngClass]="{'app-menu--show': appMenuOpen}" (click)="closeAppMenu()">
    <header class="header-bar--menu flex-noshrink flex flex-start-center" (click)="$event.stopPropagation()">
        <button class="app-menu__close" (click)="closeAppMenu()" role="button" aria-label="Close menu">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#close"></use>
            </svg>
        </button>
        <button class="app-menu__home" [routerLink]="['/home']" role="button" aria-label="Go to home page">
            <svg class="app-menu__icon">
                <use xlink:href="/assets/icons/icon-sprite.svg#home"></use>
            </svg>
        </button>
        <h1 class="header-bar__title" aria-hidden="true">
            <a [routerLink]="['/home']" tabindex="-1" >Andrew McConville</a>
        </h1>
    </header>
    <div id="app-menu-list" class="app-menu__menu flex-grow flex-scroll--y" [style.marginRight]="0 - scrollbarWidth + 'px'">
        <portfolio-app-menu></portfolio-app-menu>
    </div>
</nav>
<div class="app-menu__mask" [ngClass]="{'app-menu__mask--show': appMenuOpen}"></div>

<router-outlet></router-outlet>