<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # not rewrite css, js and images
    RewriteCond %{REQUEST_URI} !\.(?:css|js|map|jpe?g|gif|png|zip)$ [NC]
    RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
</IfModule>

<IfModule mod_expires.c>
    # Enable expirations
    #ExpiresActive On 
    # Default directive
    #ExpiresDefault "access plus 1 year"
    # My favicon
    #ExpiresByType image/x-icon "access plus 1 year"
    # Images
    #ExpiresByType image/gif "access plus 1 year"
    #ExpiresByType image/png "access plus 1 year"
    #ExpiresByType image/jpg "access plus 1 year"
    #ExpiresByType image/jpeg "access plus 1 year"
    # CSS
    #ExpiresByType text/css "access plus 1 year"
    # Javascript
    ExpiresByType application/javascript "access plus 1 year"
</IfModule>